// color-scheme: http://www.0to255.com/ced3d5
$black:  #000;
$lessBlack:  #050606;
$lessBlack2:  #0d0f0f;
$lessBlack3:  #151718;
$lessBlack4:  #1d2022;
$lessBlack5:  #25292b;
$lessBlack6:  #2c3234;
$lessBlack7:  #343b3d;
$white:  #fff;
$lessWhite:  #f3f4f4;
$lessWhite2:  #e0e3e5;
$lessWhite3:  #bcc3c5;
$grey:  #738186;
$moreGrey: #636f74;
$moreGrey2: #545e62;
$moreGrey3: #4c5558;
$blackYellow: #151501;
$blackYellow2: #3c3a05;
$blackYellow3: #605c00;
$blackYellow4: #9c9723;
$blackYellow5: #e1d816;
$hoverBlue: #4294C1;

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#circle {
  border-radius: 50%;
}
