/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 * {
   background: transparent;
  //  background-color: #fafafa;
   font-family: 'Droid-Sans', 'Open Sans', serif;
 }
 @import "colors";
 @import "bootstrap";
 @import "navbar";
 @import "session";


.session-body {
  // background-image: url("/assets/images/background.jpeg") no-repeat 50% 50% fixed;
  background-image: url("ocean.gif");
  height:100vh;
    background-size: cover;
    // Now this will center the header text
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;

}
//
// .footer {
//   width: 100%;
// }
