* {
  background: transparent;
 //  background-color: #fafafa;

  input {
    border-radius: 3px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6, li {
    font-family: 'Droid-Sans', sans-serif;
  }
  input:focus
  /*select:focus,
  textarea:focus,
  button:focus */
  {
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }


   button {
   background-color:black;
   -moz-border-radius:13px;
   -webkit-border-radius:13px;
   border-radius:13px;
   border:1px solid #ffffff;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:14px;
   padding:10px 12px;
   text-decoration:none;

  }
  button:hover {
   background-color:$lessBlack3;
    color: white;
  }

  button:active {
   position:relative;
   top:1px;
  }
}
