.footer {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  background-color: white;
}

.footer h5 {
  padding-top: 15px;
  text-align:  center;
}
.footer div {
  margin: 0 auto;
  width: 30%;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
.footer li {
  flex: 1 0 auto;
  list-style: none;
  font-size: 36px;
}

.footer a {
  color: black
}

.footer a:hover {
  color: $hoverBlue;
}
