.userProfile {
  background-color: #fafafa;
  padding-bottom: 3%;

}

.userBody {
  padding-top: 7%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.userInfo {
  display: flex;

  justify-content: space-around;
}

.userInfo li {
  list-style: none;
  padding-bottom: 6px;
}
.userInfo img {
  height: 150px;
  width: 150px;
}

.userPix {
  padding-top: 10%;
}

// cloudinary div
.userPix .uploadCloudinary {
  padding-bottom: 5%;
  width: 131px;
  height: 45px;
}

.userPictureModal {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center
}
.userPictureModal input {
  display: inline-block;
  margin-top: 20px;
}

.userPictureModal img {
  padding: 30px 0px;

  width: 50%;
  height: 50%;
}

.userBody button {
 background-color:black;
 -moz-border-radius:13px;
 -webkit-border-radius:13px;
 border-radius:13px;
 border:1px solid #ffffff;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:12px;
 padding:10px 12px;
 text-decoration:none;

}
.userBody button:hover {
 background-color:$lessBlack3;
  color: white;
}
.userBody button:active {
 position:relative;
 top:1px;
}

.userText h1 {
  font-family: 'Lobster', cursive;
}

.userText h5 {
  font-family: 'Noto Sans', sans-serif;
}

.profilePic {
  padding-left: 10%;
}
.profilePic img {
  width: 150px;
  height:150px;
}

.circle {
  border-radius: 50%;
}


#uploadPic {
 background-color:black;
 -moz-border-radius:13px;
 -webkit-border-radius:13px;
 border-radius:13px;
 border:1px solid #ffffff;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:15px;
 padding:10px 31px;
 text-decoration:none;

}

#uploadPic:hover {
  background-color:$lessBlack3;
  color: white;
}
#uploadPic:active {
  position:relative;
  top:1px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

// load the area
.grid::after {
  content: '';
  flex-grow: 999999999;
}
.grid div {
  margin: 2px;
  background-color: white;
  position: relative;
  flex-grow: 1;
  height: 400px;
  overflow: hidden;
}
.grid img {
  min-width: 100%;
  max-width: 100%;
  height: 399px;
  object-fit: cover;
  vertical-align: bottom;
}
// OLD
//
//
// .grid {
//   display: grid;
//   // 1/3rd
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
//   align-items: center;
//   justify-items: center;
//
// }
//
//
// .grid div {
//   display: flex;
//
// }
//
// .grid div img {
//   width:100%;
//   height:100%;
// }
