.userProfile {
  background-color: #fafafa;
  padding-bottom: 3%;

}

.userBody {
  padding-top: 2%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.userInfo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.userInfo li {
  list-style: none;
  padding-bottom: 6px;
}
.userInfo img {
  height: 150px;
  width: 150px;
}
.userPix {
  padding-top: 3%;
}

// cloudinary div
.userPix .uploadCloudinary {
  width: 131px;
  height: 45px;
}

.userPictureModal {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center
}
.userPictureModal input {
  display: inline-block;
  margin: 20px;
}

.userPictureModal img {
}

.userText h1 {
  font-family: 'Lobster', cursive;
}

.userText h5 {
  font-family: 'Noto Sans', sans-serif;
}

.profilePic {
  grid-area: 1 / 6 / span 1 / span 1;
}

.textInfo {
  grid-area: 1 / 8 / span 1 / span 1;
}

.profilePic img {
  width: 200px;
  height:200px;
}

#uploadPic {
  background-color:black;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 10px 33px;
  text-decoration: none;
}

#uploadPic:hover {
  background-color:$lessBlack3;
  color: white;
}

#changePP {
  background-color: black;
  border-radius: 13px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 7px 7px;
  text-decoration: none;
}

#changePP:hover {
  background-color:$lessBlack3;
  color: white;
}


.grid {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
}

// load the area
.grid::after {
  content: '';
  flex-grow: 999999999;
}
.grid div {
  margin: 2px;
  background-color: white;
  position: relative;
  flex-grow: 1;
  height: 400px;
  overflow: hidden;
}
.grid img {
  min-width: 100%;
  max-width: 100%;
  height: 399px;
  object-fit: cover;
  vertical-align: bottom;
}
// OLD
//
//
// .grid {
//   display: grid;
//   // 1/3rd
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
//   align-items: center;
//   justify-items: center;
//
// }
//
//
// .grid div {
//   display: flex;
//
// }
//
// .grid div img {
//   width:100%;
//   height:100%;
// }
